<template>
    <div class="row">
        <h2>Pizzas List</h2>
        <div>
            <CreateBtn :link="'/pizzas/create'" />
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                <th>Name</th>
                <th>Selling price</th>
                <th>Ingredients</th>
                <th class="text-center">
                    <svg-icon :fa-icon="icons.actions" :size="30" flip="horizontal"/>
                </th>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{ item.name }}</td>
                    <td>{{ centsToEurConversion(item.price) }}</td>
                    <td>{{ item.ingredients }}</td>
                    <td class="text-center">
                        <router-link title="Edit" :to="'/pizzas/edit/' + item.id" >
                            <svg-icon
                                role="button"
                                class="text-primary mx-lg-1"
                                :fa-icon="icons.edit" :size="15" flip="horizontal"/>
                        </router-link>
                        <a @click="pizzaDelete(item.id)" title="Delete">
                            <svg-icon
                                class="text-danger mx-lg-1"
                                :fa-icon="icons.remove" :size="15" flip="horizontal"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import {faCog, faTrash, faEdit} from "@fortawesome/free-solid-svg-icons";

import CreateBtn from "../../components/buttons/CreateBtn";

export default {
    name: "Pizzas",
    data() {
        return {
            name: null,
            list: [],
            icons: {
                actions: faCog,
                remove: faTrash,
                edit: faEdit,
            }
        }
    },
    components: {CreateBtn},
    created() {
        if (window.Laravel.user) {
            this.name = window.Laravel.user.name
        }
    },
    beforeRouteEnter(to, from, next) {
        if (!window.Laravel.isLoggedin) {
            window.location.href = "/";
        }
        next();
    },
    methods: {
        getPizzas() {
            let $this = this;
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.get('/api/pizza')
                    .then(response => {
                        $this.list = response.data
                    });
            })
        },
        pizzaDelete($id) {
            let $this = this;

            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.delete('api/pizza/' + $id).then(response => {
                    if (response.data.success) {
                        $this.list.forEach(function(currentValue, index){
                            if(currentValue.id === $id) {
                                $this.list.splice(index, 1);
                            }
                        })
                        alert(response.data.message)
                    }
                })
            })
        },
        centsToEurConversion(cents) {
            let dollars = cents / 100;
            return dollars.toLocaleString("eu-EU", {style:"currency", currency:"EUR"});
        },
    },
    mounted() {
        this.getPizzas();
    }
}
</script>
