<template>
    <div class="col-md-6">
        <div>
            <ValidationAlert :errors="errors"/>
        </div>
        <form>
            <div class="form-group">
                <label for="name">Pizza Name</label>
                <input
                    v-model="form.name"
                    class="form-control" id="name" placeholder="ex: Andy's Pizza">
            </div>
            <div class="form-group">
                <label>Ingredients</label>

                <MySelect v-model="form.ingredients"
                          :options="ingredients" :settings="{multiple: true}"/>
            </div>
            <div class="form-group mt-2">
                <button
                    type="submit"
                    @click="updatePizza"
                    class="btn btn-primary">Update
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import ValidationAlert from "../../components/alerts/ValidationAlert";

export default {
    name: "PizzasEdit",
    data() {
        return {
            ingredients: [],
            form: {
                id: null,
                name: '',
                ingredients: [],
            },
            errors: false
        }
    },
    components: {ValidationAlert},
    methods: {
        updatePizza(e) {
            console.log('HERE');
            let $this = this;
            e.preventDefault()
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.put('/api/pizza/' + this.form.id, {
                    name: this.form.name,
                    ingredients: this.form.ingredients,
                })
                    .then(response => {
                        if (response.data.success) {
                            alert(response.data.message);
                        } else {
                            $this.errors = [response.data.message]
                        }
                    })
                    .catch(function (error) {
                        if (error.response.status == 422){
                            $this.errors = error.response.data.errors;
                        } else {
                            $this.errors = ['Please contact administrator.'];
                        }
                    });
            })
        },
        getCurrentPizza($id) {
            let $this = this;
            console.log('MY ID',$id);
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.get('/api/pizza/' + $id + '/edit')
                    .then(response => {
                        let data = response.data;
                        let ingredients = data.ingredients.split(',');
                        ingredients.forEach(function (item, index) {
                            let ingredient = item.split(' ');
                            $this.form.ingredients.push(ingredient[0])
                        })

                        $this.form.id = data.id;
                        $this.form.name = data.name;
                    });
            })
        },
        centsToEurConversion(cents) {
            let dollars = cents / 100;
            return dollars.toLocaleString("en-US", {currency:"EUR"});
        },
        getIngredients() {
            let $this = this;
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.get('/api/global/getingredients')
                    .then(response => {
                        console.log('ingredients', response.data);
                        $this.ingredients = response.data
                    });
            })
        },
    },
    mounted() {
         const thePath = window.location.pathname
         const id = thePath.substring(thePath.lastIndexOf('/') + 1)
         this.getCurrentPizza(id);
         this.getIngredients();
    }
}
</script>

<style scoped>

</style>
