<template>
    <div class="col-md-6">
        <div>
            <ValidationAlert :errors="errors"/>
        </div>
        <form>
            <div class="form-group">
                <label for="name">Pizza Name</label>
                <input
                    v-model="form.name"
                    class="form-control" id="name" placeholder="ex: Andy's Pizza">
            </div>
            <div class="form-group">
                <label>Ingredients</label>

                <MySelect v-model="form.ingredients"
                          :options="ingredients" :settings="{multiple: true}"/>
            </div>
            <div class="form-group mt-2">
                <button
                    type="submit"
                    @click="createPizza"
                    class="btn btn-primary">Create
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import ValidationAlert from "../../components/alerts/ValidationAlert";

export default {
    name: "PizzasCreate",
    components: {ValidationAlert},
    data() {
        return {
            ingredients: [],
            form: {
                name: '',
                ingredients: []
            },
            errors: false
        }
    },
    methods: {
        createPizza(e) {
            e.preventDefault()
            let $this = this;
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post('/api/pizza', {
                    name: this.form.name,
                    ingredients: this.form.ingredients,
                })
                    .then(response => {
                        console.log(response.data)
                        if (response.data.success) {
                            $this.form.name = '';
                            $this.form.ingredients = [];
                            alert(response.data.message);
                        } else {
                            this.error = response.data.message
                        }
                    })
                    .catch(function (error) {
                        if (error.response.status == 422) {
                            $this.errors = error.response.data.errors;
                        } else {
                            $this.errors = ['Please contact administrator.'];
                        }
                    });
            })

        },
        getIngredients() {
            let $this = this;
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.get('/api/global/getingredients')
                    .then(response => {
                        $this.ingredients = response.data
                    });
            })
        },
    },
    mounted() {
        this.getIngredients()
    }
}
</script>

<style scoped>

</style>
