<template>
    <router-link :title="title" :to="link">
        <button class="btn btn-primary">
            <FontIcon :icon="icon" />
        </button>
    </router-link>
</template>

<script>
import FontIcon from "../icons/FontIcon";
import {faPlus} from "@fortawesome/free-solid-svg-icons";

export default {
    name: "CreateBtn",
    data() {
        return {
            icon: faPlus
        }
    },
    components: {FontIcon},
    props: {
        link: {
            type: String,
            default: '',
            required: true,
        },
        title: {
            type: String,
            default: 'Add',
        }
    }

}
</script>

<style scoped>

</style>
