<template>
    <div class="container">
        <component :is="layout">
            <router-view />
        </component>
    </div>
</template>

<script>
import BasicLayout from "./layouts/BasicLayout";
export default {
    name: "App",
    components: { BasicLayout },
    computed: {
        layout() {
            //could be more than one layout
            const layout = 'BasicLayout';
            return layout;
        }
    },
    data() {
        return {
            isLoggedIn: false,
        }
    },
    created() {
        if (window.Laravel.isLoggedin) {
            this.isLoggedIn = true
        }
    },
}
</script>
