<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="mt-1 mb-1" v-if="!register">
                    <button @click="openRegister()"
                        class="float-right btn btn-dark">Register</button>
                </div>

                <div v-else class="mt-1 mb-1">
                    <button @click="closeRegister()"
                        class="float-right btn btn-dark">Login</button>
                </div>

                <ValidationAlert :errors="errors" />

                <Register v-show="register" />

                <div class="card card-default" v-show="!register">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <label for="emailLogin" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input id="emailLogin" type="email" class="form-control" v-model="email" required
                                           autofocus autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="passwordLogin" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input id="passwordLogin" type="password" class="form-control" v-model="password"
                                           required autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary" @click="handleSubmit">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Register from "./Register";
import ValidationAlert from "../components/alerts/ValidationAlert";

export default {
    data() {
        return {
            email: "",
            password: "",
            errors: false,
            register: false,
        }
    },
    components: {Register, ValidationAlert},
    methods: {
        handleSubmit(e) {
            let $this = this;
            e.preventDefault()
            if (this.password.length > 0) {
                this.$axios.get('/sanctum/csrf-cookie').then(response => {
                    this.$axios.post('api/login', {
                        email: this.email,
                        password: this.password
                    })
                        .then(response => {
                            console.log(response.data)
                            if (response.data.success) {
                                this.$router.go('/pizzas')
                            } else {
                                $this.errors = [response.data.message]
                            }
                        })
                        .catch(function (error) {
                            if (error.response.status == 422){
                                $this.errors = error.response.data.errors;
                            } else {
                                $this.errors = ['Please contact administrator.'];
                            }
                        });
                })
            }
        },
        openRegister() {
            this.register = true;
        },
        closeRegister() {
            this.register = false;
        }
    },
    beforeRouteEnter(to, from, next) {
        if (window.Laravel.isLoggedin) {
            return next('pizzas');
        }
        next();
    }
}
</script>
