<template>
    <span>
        <svg-icon
            role="button"
            :fa-icon="icon" :size="10" flip="horizontal"/>
    </span>
</template>

<script>
export default {
    name: "FontIcon",
    props: {
        icon: {
            type: Object,
            default: '',
            required: true,
        },
    }
}
</script>

<style scoped>

</style>
