<template>
    <div class="row">
        <nav class="navbar-nav navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav mr-auto">
                <router-link to="/pizzas" class="nav-item nav-link">Pizzas</router-link>
                <router-link to="/ingredients" class="nav-item nav-link">Ingredients</router-link>
                <a class="nav-item nav-link"
                   style="cursor: pointer;" @click="logout">Logout</a>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name: "BasicTopNav",
    methods: {
        logout(e) {
            console.log('ss')
            e.preventDefault()
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post('/api/logout')
                    .then(response => {
                        if (response.data.success) {
                            window.location.href = "/"
                        } else {
                            console.log(response)
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            })
        }
    },
}
</script>

<style scoped>

</style>
