<template>

            <h2>Ingredients</h2>
            <div>
                <CreateBtn :link="'/ingredients/create'" />
            </div>
            <div class="col-6">
                <div class=" m-10">
                    <div class="row">
                        <div class="col-3"><b>ID</b></div>
                        <div class="col-3"><b>Name</b></div>
                        <div class="col-3"><b>Cost</b></div>
                        <div class="col-3 text-center">
                            <svg-icon :fa-icon="icons.actions" :size="20" flip="horizontal"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <draggable class="dragArea list-group w-full" :list="list" @change="moveIngredient">
                                <div
                                    class="list-group-item bg-gray-300 mt-1 p-3 rounded-md"
                                    v-for="element in list"
                                    :key="element.name"
                                >
                                    <div class="row">
                                        <div class="col-3">{{ element.id }}</div>
                                        <div class="col-3">{{ element.name }}</div>
                                        <div class="col-3">{{ centsToEurConversion(element.cost) }}</div>
                                        <div class="col-3 text-center">
                                            <router-link title="Edit" :to="'/ingredients/edit/'+element.id">
                                                <svg-icon
                                                    role="button"
                                                    class="text-primary mx-lg-1"
                                                    :fa-icon="icons.edit" :size="15" flip="horizontal"/>
                                            </router-link>
                                            <a @click="removeIngredient(element.id)" title="Delete">
                                                <svg-icon
                                                    class="text-danger mx-lg-1"
                                                    :fa-icon="icons.remove" :size="15" flip="horizontal"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </draggable>
                        </div>
                    </div>
                </div>
            </div>

</template>

<script>
import { VueDraggableNext } from 'vue-draggable-next'
import {faCog, faTrash, faEdit} from "@fortawesome/free-solid-svg-icons";
import CreateBtn from "../../components/buttons/CreateBtn";

export default {
    name: "Ingredients",
    components: {
        draggable: VueDraggableNext,
        CreateBtn
    },
    data() {
        return {
            enabled: true,
            list: [],
            dragging: false,
            icons: {
                actions: faCog,
                remove: faTrash,
                edit: faEdit,
            }
        }
    },
    methods: {
        moveIngredient(event) {
            let id = event.moved.element.id;
            let newIndex = event.moved.newIndex;
            let oldIndex = event.moved.oldIndex;
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post('api/ingredient/updateposition', {
                    id: id,
                    newIndex: newIndex,
                    oldIndex: oldIndex
                })
            })
        },
        getIngredients() {
            let $this = this;
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.get('/api/ingredient')
                    .then(response => {
                        $this.list = response.data
                    });
            })
        },
        centsToEurConversion(cents) {
            let dollars = cents / 100;
            return dollars.toLocaleString("eu-EU", {style:"currency", currency:"EUR"});
        },
        removeIngredient($id) {
            let $this = this;

            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.delete('api/ingredient/' + $id).then(response => {
                    if (response.data.success) {
                        $this.list.forEach(function(currentValue, index){
                            if(currentValue.id === $id) {
                                $this.list.splice(index, 1);
                            }
                        })
                        alert(response.data.message)
                    }
                })
            })
        }
    },
    mounted() {
        this.getIngredients();
    }
}
</script>

<style scoped>

</style>
