<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ValidationAlert :errors="errors" />
                <form>
                    <div class="form-group">
                        <label for="name">Ingredient name</label>
                        <input
                            v-model="form.name"
                            class="form-control" id="name" placeholder="ex: Tommato">
                    </div>
                    <div class="form-group">
                        <label for="cost">Ingredient cost</label>
                        <input
                            v-model="form.cost"
                            class="form-control" id="cost" placeholder="ex: 0.50">
                    </div>
                    <div class="form-group mt-2">
                        <button
                            type="submit"
                            @click="updateIngredient"
                            class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import ValidationAlert from "../../components/alerts/ValidationAlert";

export default {
    name: "IngredientsEdit",
    data() {
        return {
            form: {
                id: null,
                name: '',
                cost: null,
            },
            errors: false
        }
    },
    components: {ValidationAlert},
    methods: {
        updateIngredient(e) {
            let $this = this;
            e.preventDefault()
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.put('/api/ingredient/' + this.form.id, {
                    name: this.form.name,
                    cost: this.form.cost,
                })
                    .then(response => {
                        if (response.data.success) {
                            alert(response.data.message);
                        } else {
                            $this.errors = [response.data.message]
                        }
                    })
                    .catch(function (error) {
                        if (error.response.status == 422){
                            $this.errors = error.response.data.errors;
                        } else {
                            $this.errors = ['Please contact administrator.'];
                        }
                    });
            })
        },
        getCurrentIngredient($id) {
            let $this = this;
            console.log('MY ID',$id);
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.get('/api/ingredient/' + $id + '/edit')
                    .then(response => {
                        let data = response.data.ingredient;
                        $this.form.id = data.id;
                        $this.form.name = data.name;
                        $this.form.cost = $this.centsToEurConversion(data.cost);
                    });
            })
        },
        centsToEurConversion(cents) {
            let dollars = cents / 100;
            return dollars.toLocaleString("en-US", {currency:"EUR"});
        },
    },
    mounted() {
         const thePath = window.location.pathname
         const id = thePath.substring(thePath.lastIndexOf('/') + 1)
         this.getCurrentIngredient(id);
    }
}
</script>

<style scoped>

</style>
