<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ValidationAlert :errors="errors" />
                <form>
                    <div class="form-group">
                        <label for="name">Ingredient name</label>
                        <input
                            v-model="form.name"
                            class="form-control" id="name" placeholder="ex: Tommato">
                    </div>
                    <div class="form-group">
                        <label for="cost">Ingredient cost</label>
                        <input
                            v-model="form.cost"
                            class="form-control" id="cost" placeholder="ex: 0.50">
                    </div>
                    <div class="form-group mt-2">
                        <button
                            type="submit"
                            @click="createIngredient"
                            class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import ValidationAlert from "../../components/alerts/ValidationAlert";

export default {
    name: "IngredientsCreate",
    data() {
        return {
            form: {
                name: '',
                cost: null,
            },
            errors: false
        }
    },
    components: {ValidationAlert},
    methods: {
        createIngredient(e) {
            let $this = this;
            e.preventDefault()
            this.$axios.get('/sanctum/csrf-cookie').then(response => {
                this.$axios.post('/api/ingredient', {
                    name: this.form.name,
                    cost: this.form.cost,
                })
                    .then(response => {
                        if (response.data.success) {
                            $this.form.name = '';
                            $this.form.cost = null;
                            alert(response.data.message);
                        } else {
                            $this.errors = [response.data.message]
                        }
                    })
                    .catch(function (error) {
                        if (error.response.status == 422){
                            $this.errors = error.response.data.errors;
                        } else {
                            $this.errors = ['Please contact administrator.'];
                        }
                    });
            })
        }
    }
}
</script>

