<template>
    <div class="alert alert-danger" role="alert" v-if="errors !== false">
        <ul>
            <li v-for="error in errors">{{ error.toString() }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "ValidationAlert",
    props: {
        errors: {
            type: [Array, Object, Boolean],
            required: true,
        }
    }
}
</script>

<style scoped>

</style>
