<template>
    <Login v-if="!isLoggedIn" />
    <div
        v-else-if="isLoggedIn"
    >
        <div
            v-show="isLoggedIn"
            class="container"
        >
            <BasicTopNav />
            <router-view />
        </div>
    </div>
</template>

<script>
import Login from "../pages/Login";
import Register from "../pages/Register";
import BasicTopNav from "../components/BasicTopNav";

export default {
    name: "BasicLayout",
    components: {Login, BasicTopNav, Register},
    data() {
        return {
            isLoggedIn: false,
        }
    },
    created() {
        if (window.Laravel.isLoggedin) {
            this.isLoggedIn = true
        }
    }
}
</script>

<style scoped>

</style>
